:root {
  --primary-bg: #0d1321;
  --accent-bg: #1d2d44;
  --shadow-bg: #3e5c76;
  --primary-text: #e3e2de;
  --highlight: #748cab;
  --accent: #748cab;
}

div.col-main {
  width: 100%;
  padding: 24px;
}

.recs-feed {
  height: 100%;
  display: flex;
  flex-direction: row;
}

#mantle_skin > div:nth-child(3) > div > div.col-main > ul > li {
  width: 200px !important;
  height: 200px !important;
}

#mantle_skin > div:nth-child(3) > div > div.col-main > ul > li:nth-child(5) {
  margin-top: 0 !important;
}

.context {
  display: none;
}
